In [2]:
%load_ext sql

In [4]:
%sql sqlite:///foo.db

In [5]:
%%sql
 create table config_test(name varchar(20), value int)

 * sqlite:///foo.db
Done.

[]

In [6]:
%%sql
insert into config_test values("sandeep", 20);
insert into config_test values("sandeep", 30);
insert into config_test values("giri", 10)

 * sqlite:///foo.db
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [32]:
%%sql
select * from config_test

 * sqlite:///foo.db
Done.

[('sandeep', 20), ('sandeep', 30), ('giri', 10)]

In [50]:
import sqlite3

# Establecer conexión a la base de datos SQLite
conexion = sqlite3.connect('foo.db')

# Obtener la ruta de la base de datos
cursor = conexion.cursor()
cursor.execute("PRAGMA database_list;")
rows = cursor.fetchall()
for row in rows:
    print(row[2])  # Ruta de la base de datos

/Users/nicolascorchuelo/Documents/projects/portfolio/languages_programming/python/pyspark/foo.db

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [52]:
sample_data = [{"name": "John    D.", "value": 30},
  {"name": "Alice   G.", "value": 25},
  {"name": "Bob  T.", "value": 35},
  {"name": "Eve   A.", "value": 28}]

df_write = spark.createDataFrame(sample_data)

In [83]:
df_write.show()

+----------+-----+
|      name|value|
+----------+-----+
|John    D.|   30|
|Alice   G.|   25|
|   Bob  T.|   35|
|  Eve   A.|   28|
+----------+-----+

In [19]:
temp_table_name = "file_table"

df.createOrReplaceTempView(temp_table_name)

In [26]:
%%sql
SELECT * FROM `file_table`

 * sqlite:///foo.db
(sqlite3.OperationalError) no such table: file_table
[SQL: SELECT * FROM `file_table`]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [85]:
db_path = "/Users/nicolascorchuelo/Documents/projects/portfolio/languages_programming/python/pyspark/foo.db"

table_name = "config_test"

conn = sqlite3.connect(db_path)

# Leer datos desde la tabla SQLite
query = f"SELECT * FROM {table_name}"
cursor = conn.cursor()
cursor.execute(query)

# Obtener las filas de la tabla SQLite
rows = cursor.fetchall()

# Obtener los nombres de columna de la tabla
column_names = [description[0] for description in cursor.description]

# Crear DataFrame de PySpark a partir de los datos obtenidos
df = spark.createDataFrame(rows, schema=column_names)

# Mostrar el esquema del DataFrame y algunos datos de muestra
df.printSchema()
df.show()

# Cerrar la conexión con la base de datos SQLite
conn.close()

root
 |-- name: string (nullable = true)
 |-- value: long (nullable = true)

+----------+-----+
|      name|value|
+----------+-----+
|   sandeep|   20|
|   sandeep|   30|
|      giri|   10|
|John    D.|   30|
|Alice   G.|   25|
|   Bob  T.|   35|
|  Eve   A.|   28|
+----------+-----+

In [84]:
# Obtener los datos del DataFrame como una lista de tuplas
data = df_write.collect()

# Obtener los nombres de columna del DataFrame
columns = df_write.columns

# Establecer conexión a la base de datos SQLite
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Crear la tabla si no existe
create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ({', '.join(columns)})"
cursor.execute(create_table_query)

# Insertar los datos en la tabla
insert_query = f"INSERT INTO {table_name} VALUES ({', '.join(['?'] * len(columns))})"
cursor.executemany(insert_query, data)

# Confirmar la transacción y cerrar la conexión
conn.commit()
conn.close()