In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
%sql sqlite:///foo.db

In [4]:
%%sql
 create table config_test(name varchar(20), value int)

 * sqlite:///foo.db
Done.

[]

In [5]:
%%sql
insert into config_test values("sandeep", 20);
insert into config_test values("sandeep", 30);
insert into config_test values("giri", 10)

 * sqlite:///foo.db
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [6]:
%%sql
select * from config_test

 * sqlite:///foo.db
Done.

[('sandeep', 20), ('sandeep', 30), ('giri', 10)]

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [9]:
sample_data = [{"name": "John    D.", "age": 30},
  {"name": "Alice   G.", "age": 25},
  {"name": "Bob  T.", "age": 35},
  {"name": "Eve   A.", "age": 28}]

df = spark.createDataFrame(sample_data)

In [10]:
df

DataFrame[age: bigint, name: string]